<app-header></app-header>
<div class="container">
  <div class="confirmation-container">
    <h1>Order Conformation</h1>
    <p>Thanks for your ordering</p>
  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th scope="col" class="text-start">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Unit price</th>
          <th scope="col">Total amount</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <div class="product-info">
              <img
                src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="product Image"
                class="product-image"
              />
              <span class="product-name">Product name</span>
            </div>
          </td>
          <td>2</td>
          <td>100,000 $</td>
          <td>200,000 $</td>
        </tr>
        <tr>
          <td>
            <div class="product-info">
              <img
                src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="product Image"
                class="product-image"
              />
              <span class="product-name">Product name</span>
            </div>
          </td>
          <td>2</td>
          <td>100,000 $</td>
          <td>200,000 $</td>
        </tr>
      </tbody>
    </table>

    <div class="text-center mt-3">
      <button class="btn btn-gradient" type="button">Continue shopping</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
